$flag-icon-asset-helper: false !default;

$flag-icon-css-path: if($flag-icon-asset-helper, 'flags/', '../icons/flags/') !default;
$flag-icon-rect-path: '/4x3' !default;
$flag-icon-square-path: '/1x1' !default;
